body {
    /* background-color: rgb(42, 5, 63); */
    background-image: url("/Portfolio/assets/images/bg_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin: 0;
    color: aliceblue;
    padding: 20px;
}

h2, h3, ul, ol, a, p {
    color: aliceblue;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.intro_box p {
    font-size: 20px;
}

.box {
    width: 500px;
    background-color: rgb(80, 56, 94);
    padding: 20px;
    border: 1px solid rgb(189, 129, 224);
    margin: 12px auto;
    border-radius: 10px;
}

.circle {
    top: 20px;
    border-radius: 50%;
    overflow: hidden;
    height: 200px;
    width: 200px;
    margin: 30px auto;
}

.circle img {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

a {
    /* this is just temperory until i learn the actual way */
    margin-right: 15px;
}

