body {
    /* background-color: rgb(42, 5, 63); */
    background-image: url("assets/images/bg_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin: 0;
    color: aliceblue;
    padding: 20px;
}

h2, h3, ul, ol, a, p {
    color: aliceblue;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.intro_box p {
    font-size: 20px;
}

.box {
    width: 500px;
    background-color: #332851;
    padding: 20px;
    border: 1px solid rgb(179, 132, 206);
    margin: 12px auto;
    border-radius: 10px;
}

.circle {
    top: 20px;
    border-radius: 50%;
    overflow: hidden;
    height: 200px;
    width: 200px;
    margin: 15px 15px;
    float: right;
}

.circle img {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.link-box {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}
.link-box * {
    
    font-size: 12px;
}

.image-logo {
    margin-right: 8px;
}
.btn-custom {
    margin: 5px;
    display: inline-flex;
    align-items: center;
}
